{% extends "CommercialSoft/starter-page.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'autre/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'autre/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block corp %}
<section class="content pt-0">
  <div class="container-fluid">
    
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Recheche</h3>
                  </div>
                  <form role="form" action="" id="form-depense" method="post">
                    {% if messages %}
                      <div>
                      {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success text-center">
                                {{ message }}
                            </div>
                            {% elif message.tags == "error" %}
                            <div class="alert alert-danger text-center">
                                {{ message }}
                            </div>
                            {% elif message.tags == "warning" %}
                            <div class="alert alert-warning text-center">
                                {{ message }}
                            </div>
                        {% endif %}
                      {% endfor %}
                      </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="row justify-content-center align-items-end">
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="utilisateur">Utilisateur</label>
                                <select class="form-control select2bs4" id="utilisateur" style="width: 100%;">
                                  <option value="0">--------</option>
                                  {% if users %}
                                    {% for user in users %}
                                     <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                                    {% endfor %}
                                {% else %}
                                <option >Aucun utilisateur trouve</option>
                                {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="dateDebut">Date debut</label>
                            <input type="date" class="form-control" id="dateDebut"> 
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="quantite">Date Fin</label>
                            <input type="date" class="form-control" id="dateFin"> 
                          </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="idrechercher">Recherche</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

    <div class="row text-center">
      <h4 class="text-info" id="montantDepense">Total : </h4>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Situation financiere</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" style="table-layout: auto; font-size: 30px;">
                      <thead>                
                        <tr>
                          <th style="width: 50px;">Total vente</th>
                          <td style="width: 50px;" id="idTotalVente"> 0</td>
                        </tr>
                        <tr>
                            <th style="width: 50px;">Prèt reclamé </th>
                            <td style="width: 50px;" id="idPretReclame"> 0</td>
                        </tr>
                        <tr>
                            <th style="width: 50px;">Total Pret</th>
                            <td style="width: 50px;" id="idTotalPret"> 0</td>
                        </tr>
                        <tr>
                            <th style="width: 50px;">Total depense</th>
                            <td style="width: 50px;" id="idTotalDepense"> 0</td>
                          </tr>
                          <tr class="text-danger">
                            <th style="width: 50px;">Retour</th>
                            <td style="width: 50px;" id="idRetour"> 0</td>
                          </tr>
                          <tr>
                            <th style="width: 50px;">Caisse</th>
                            <td style="width: 50px;" id="idCaisse"> 0</td>
                          </tr>
                      </thead>
                    </table>
                  </div>
            </div>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 

  {% endblock %}


  {% block js %}

    <!-- jQuery -->
    <script src="{% static 'autre/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'autre/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- bs-custom-file-input -->
    <script src="{% static 'autre/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'autre/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'autre/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'autre/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'autre/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'autre/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'autre/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Bootstrap Switch -->
    <script src="{% static 'autre/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'autre/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/demo.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    bsCustomFileInput.init();
    });


    $(document).ready(function () {
        bsCustomFileInput.init();

        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
        theme: 'bootstrap4'
        })

    });





    
    $(document).ready(function () {
    $('#idrechercher').on('click', function (e) {
      e.preventDefault();

      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

      const userId = $('#utilisateur').val();  // ID de l'examen sélectionné
      const dateDebut = $('#dateDebut').val();  // ID de la consultation
      const dateFin = $('#dateFin').val();  // ID de la consultation
      
      var idTotalVente=0;
      var idPretReclame=0;
      var idTotalPret=0;
      var idTotalDepense=0;
      var idRetour=0;
      var idCaisse=0;

      $('#idTotalVente').html(idTotalVente.toLocaleString());
      $('#idPretReclame').html(idPretReclame.toLocaleString());
      $('#idTotalPret').html(idTotalPret.toLocaleString());
      $('#idTotalDepense').html(idTotalDepense.toLocaleString());
      $('#idRetour').html(idRetour.toLocaleString());
      $('#idCaisse').html(idCaisse.toLocaleString());

      $.ajax({
        url: "{% url 'rechercheBilan' %}",
        type: "POST",
        data: {
            idUser: userId,
            dateDebut: dateDebut,
            dateFin: dateFin,
            csrfmiddlewaretoken: csrfToken
        },
        success: function (response) {
            var idTotalVente=response.totalVente;
            var idPretReclame=response.totalPretReclame;
            var idTotalPret=response.totalPret;
            var idTotalDepense=response.totalDepense;
            var idRetour=response.totalRetour;
            var idCaisse=response.caisse;

            $('#idTotalVente').html(idTotalVente.toLocaleString());
            $('#idPretReclame').html(idPretReclame.toLocaleString());
            $('#idTotalPret').html(idTotalPret.toLocaleString());
            $('#idTotalDepense').html(idTotalDepense.toLocaleString());
            $('#idRetour').html(idRetour.toLocaleString());
            $('#idCaisse').html(idCaisse.toLocaleString());
            $('#montantDepense').html('Total : ' + idCaisse.toLocaleString() + ' GNF');
          
        },
        error: function (xhr, status, error) {
          alert('Une erreur est survenue. Veuillez réessayer. '+error);
        }
      });
    });
  });



  


  $(document).ready(function () {
    $('#idImprimer').on('click', function (e) {
        e.preventDefault();

        const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        const categorieId = $('#categorie').val();
        const produitId = $('#produit').val();

        // Ouvrir une nouvelle fenêtre où le PDF sera affiché
        let pdfWindow = window.open("", "_blank");

        $.ajax({
            url: "{% url 'pdfProduitDisponible' %}",
            type: "POST",
            data: {
                idCategorie: categorieId,
                produitId: produitId,
                csrfmiddlewaretoken: csrfToken
            },
            xhrFields: {
                responseType: 'blob'  // Important pour récupérer un fichier binaire (PDF)
            },
            success: function (response) {
                let blob = new Blob([response], { type: "application/pdf" });
                let url = URL.createObjectURL(blob);
                pdfWindow.location.href = url;  // Charger le PDF dans la nouvelle fenêtre
            },
            error: function () {
                alert('Une erreur est survenue. Veuillez réessayer.');
            }
        });
    });
});








$(document).ready(function() {
    $('#liste-vente').on('click', '.vente_row', function() {
        var venteId = $(this).data('id');  // Récupérer l'ID de la vente
        $.ajax({
            url: "{% url 'produitParVente' %}",  // URL Django pour récupérer les produits
            type: 'GET',
            data: {
                'vente_id': venteId  // Envoyer l'ID de la vente
            },
            success: function(response) {
                var patientsTable = $('#liste-produit');
                patientsTable.empty();  // Vider le tableau des produits
                
                if (response.listes && response.listes.length > 0) {
                    response.listes.forEach(data => {
                    patientsTable.append(`
                        <tr class="produit_row" id="produit-${data.id}" data-id="${data.id}">
                            <td class="text-center">${data.id}</td>
                            <td>${data.produit}</td>
                            <td class="text-center">${data.quantite}</td>
                            <td>
                                <button class="btn btn-danger prod"  data-id="${data.id}">sup</button>
                            </td>
                        </tr>
                    `);
                    });
                } else {
                    patientsTable.append('<tr><td colspan="14" class="text-center">Aucun ligne trouvée.</td></tr>');
                }
            }
        });
    });
});






$(document).ready(function() {
    $('#liste-produit').on('click', '.prod', function() {
        var myid = $(this).data("id");  // Récupérer l'ID du produit à supprimer
        var deleteUrl = "{% url 'commerce_commandePDelete' %}";

        if (confirm("Êtes-vous sûr de vouloir supprimer ce produit ?")) {
            $.ajax({
                url: deleteUrl,
                type: 'POST',  // Utilisation de POST au lieu de GET
                data: {
                    id:myid,
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()  // Protection CSRF
                },
                success: function(response) {
                    if (response.success) {
                        $("#produit-" + myid).fadeOut(300, function() { $(this).remove(); });  // Supprimer l'élément du DOM
                        alert("Suppression réussie !");
                    } else {
                        alert(response.message);
                    }
                },
                error: function(xhr) {
                    alert("Une erreur s'est produite !");
                }
            });
        }
    });
});










  $(function() {
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultInfo').click(function() {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultError').click(function() {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function() {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultSuccess').click(function() {
      toastr.success('Enregistrement reussi')
    });
    $('.toastrDefaultInfo').click(function() {
      toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultError').click(function() {
      toastr.error('{{ message }}.')
    });
    $('.toastrDefaultWarning').click(function() {
      toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.toastsDefaultDefault').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultTopLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'topLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomRight').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomRight',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultAutohide').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        autohide: true,
        delay: 750,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultNotFixed').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        fixed: false,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultFull').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        icon: 'fas fa-envelope fa-lg',
      })
    });
    $('.toastsDefaultFullImage').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        image: '../../dist/img/user3-128x128.jpg',
        imageAlt: 'User Picture',
      })
    });
    $('.toastsDefaultSuccess').click(function() {
      $(document).Toasts('create', {
        class: 'bg-success', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultInfo').click(function() {
      $(document).Toasts('create', {
        class: 'bg-info', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultWarning').click(function() {
      $(document).Toasts('create', {
        class: 'bg-warning', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultDanger').click(function() {
      $(document).Toasts('create', {
        class: 'bg-danger', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultMaroon').click(function() {
      $(document).Toasts('create', {
        class: 'bg-maroon', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
  });

</script>


  {% endblock %}