{% extends "CommercialSoft/starter-page.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'autre/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <!-- AdminLTE App -->
  <link rel="stylesheet" href="{% static 'autre/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block corp %}
<section class="content pt-0">
  <div class="container-fluid">
    
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Nouveau client</h3>
                  </div>
                  <form role="form" action="{% url 'commerce_client' %}" method="post">
                    {% if messages %}
                      <div>
                      {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success text-center">
                                {{ message }}
                            </div>
                            {% elif message.tags == "error" %}
                            <div class="alert alert-danger text-center">
                                {{ message }}
                            </div>
                            {% elif message.tags == "warning" %}
                            <div class="alert alert-warning text-center">
                                {{ message }}
                            </div>
                        {% endif %}
                      {% endfor %}
                      </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="societe">Societe</label>
                            {{ form.societe }}
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="nom">Nom client</label>
                            {{ form.nom }}
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="telephone">Telephone</label>
                            {{ form.telephone }}
                          </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                              <label for="adresse">Adresse</label>
                              {{ form.adresse }}
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="email">Email</label>
                            {{ form.email }}
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="matricule">Matricule</label>
                            {{ form.matricule }}
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="pourcentage">Pourcentage</label>
                            {{ form.pourcentage }}
                          </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                              <label for="detteMaximale">Dette maximale</label>
                              {{ form.detteMaximale }}
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                      <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Liste des clients</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered table-hover table-striped">
                <thead>                  
                  <tr>
                    <th style="width: 10px" class="text-center">#</th>
                    <th class="text-center">Client</th>
                    <th class="text-center">Telephone</th>
                    <th class="text-center">Adresse</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Matricule</th>
                    <th class="text-center">Pourcentage</th>
                    <th class="text-center">Datte</th>
                    <th style="width: 40px" class="text-center">#</th>
                  </tr>
                </thead>
                <tbody>
                  {% if listes %}
                    {% for liste in listes %}
                      <tr>
                        <td class="text-center">{{liste.id}}</td>
                        <td>{{liste.nom}}</td>
                        <td class="text-center">{{liste.telephone}}</td>
                        <td class="text-center">{{liste.adresse}}</td>
                        <td class="text-center">{{liste.email}}</td>
                        <td class="text-center">{{liste.matricule}}</td>
                        <td class="text-center">{{liste.pourcentage}}</td>
                        <td class="text-center">{{liste.detteMaximale}}</td>
                        <td class="text-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-cogs"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'commerce_modClient' liste.id %}" title="Modifier">
                                <i class="fas fa-edit text-warning"></i> Modifier
                              </a>
                              <a class="dropdown-item" href="{% url 'commerce_supClient' liste.id %}"
                                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet element ?');" title="Annuler">
                                <i class="fas fa-times-circle text-danger"></i> Supprimer
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="14" class="text-center">Aucune ligne disponible pour le moment.</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 justify-content-center">
                <li class="page-item">
                  {% if listes.has_previous %}
                    <a class="page-link" href="?page={{ listes.previous_page_number }}">«</a>
                  {% endif %}
                  {% for num in listes.paginator.page_range %}
                    {% if listes.number == num %}
                      <li class="page-item"><a class="page-link" href="">{{ num }}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
    
                  {% if listes.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ listes.next_page_number }}">»</a></li>
                  {% endif %}
                
              </ul>
            </div>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 

  {% endblock %}


  {% block js %}

    <!-- jQuery -->
    <script src="{% static 'autre/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'autre/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- bs-custom-file-input -->
    <script src="{% static 'autre/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'autre/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'autre/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/adminlte.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'autre/plugins/select2/css/select2.min.css' %}">
    <script src="{% static 'autre/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'autre/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'autre/plugins/select2/js/select2.full.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'autre/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'autre/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Bootstrap Switch -->
    <script src="{% static 'autre/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'autre/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/demo.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    bsCustomFileInput.init();
    });




    $(document).ready(function () {
        bsCustomFileInput.init();

        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
        theme: 'bootstrap4'
        })

    });




  $(function() {
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultInfo').click(function() {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultError').click(function() {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function() {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultSuccess').click(function() {
      toastr.success('Enregistrement reussi')
    });
    $('.toastrDefaultInfo').click(function() {
      toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultError').click(function() {
      toastr.error('{{ message }}.')
    });
    $('.toastrDefaultWarning').click(function() {
      toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.toastsDefaultDefault').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultTopLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'topLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomRight').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomRight',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultAutohide').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        autohide: true,
        delay: 750,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultNotFixed').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        fixed: false,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultFull').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        icon: 'fas fa-envelope fa-lg',
      })
    });
    $('.toastsDefaultFullImage').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        image: '../../dist/img/user3-128x128.jpg',
        imageAlt: 'User Picture',
      })
    });
    $('.toastsDefaultSuccess').click(function() {
      $(document).Toasts('create', {
        class: 'bg-success', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultInfo').click(function() {
      $(document).Toasts('create', {
        class: 'bg-info', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultWarning').click(function() {
      $(document).Toasts('create', {
        class: 'bg-warning', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultDanger').click(function() {
      $(document).Toasts('create', {
        class: 'bg-danger', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultMaroon').click(function() {
      $(document).Toasts('create', {
        class: 'bg-maroon', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
  });

</script>


  {% endblock %}