{% extends "CommercialSoft/starter-page.html" %}

{% block corp %}
{% load static %}
  <section id="hero" class="hero section light-background m-0 p-0">


    <div class="container position-relative">

      <div class="welcome position-relative col-md-12 text-center">
        <h2>{{boutique.nom}}</h2>
        <p>Le commerce à portée de main</p>
      </div><!-- End Welcome -->

      <section id="stats" class="stats section light-background">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
    
          <div class="row gy-4">
    
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="fa-solid fa-user-doctor"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="{{total_produits}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Total produits</p>
              </div>
            </div><!-- End Stats Item -->
    
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="fa-regular fa-hospital"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="{{produits_perimes}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Produits périmés</p>
              </div>
            </div><!-- End Stats Item -->
    
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="fas fa-flask"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="{{total_dettes}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Total dette</p>
              </div>
            </div><!-- End Stats Item -->
    
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <i class="fas fa-award"></i>
              <div class="stats-item">
                <span data-purecounter-start="0" data-purecounter-end="{{produits_rupture}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Produits en rupture</p>
              </div>
            </div><!-- End Stats Item -->
    
          </div>
    
        </div>
    
      </section><!-- /Stats Section -->
    </div>

  </section><!-- /Hero Section -->
  
  
{% endblock %}