{% extends "CommercialSoft/starter-page.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'autre/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'autre/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/toastr/toastr.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block corp %}
<section class="content pt-0">
  <div class="container-fluid">
    <div class="row text-center">
      <h3 class="text-info"> {{client.nom}} </h3>
    </div>
    <div class="row">


      <div class="col-md-6">
        <div class="card card-primary" style="height: 67vh; overflow: hidden;">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title mb-0">Dettes clients</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0" style="height: calc(100% - 50px); overflow-y: auto;">
            <div >
              <table class="table table-bordered table-hover table-striped table-sm mb-0">
                <thead>
                  <tr>
                    <th style="width: 10px" class="text-center">#</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Montant</th>
                    <th class="text-center">Commentaire</th>
                    <th class="text-center" >N° vente</th>
                    <th style="width: 40px" class="text-center">#</th>
                  </tr>
                </thead>
                <tbody id="livraison-produits">
                  <!-- tes lignes dynamiques ici -->
                   {% if dettes %}
                    {% for liste in dettes %}
                      <tr>
                        <td class="text-center">{{liste.id}}</td>
                        <td>{{liste.date}}</td>
                        <td>{{liste.montant}}</td>
                        <td>{{liste.commentaire}}</td>
                        <td>{{liste.commande.id}}</td>
                        <td class="text-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-cogs"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'commerce_modPretClient' liste.id %}" title="Modifier">
                                <i class="fas fa-edit text-warning"></i> Modifier
                              </a>
                              
                              {% if liste.commande and liste.commande.id %}
                                <a class="dropdown-item" target="_blank" href="{% url 'pdf_facture_proforma_2' liste.commande.id %}" title="Detail">
                                  <i class="fas fa-edit text-success"></i> Detail
                                </a>
                              {% else %}
                                  <span class="dropdown-item text-muted">
                                      Pas de detail
                                  </span>
                              {% endif %}
                              <a class="dropdown-item" href="{% url 'commerce_supPretClient' liste.id %}"
                                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet element ?');" title="Annuler">
                                <i class="fas fa-times-circle text-danger"></i> Supprimer
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="14" class="text-center">Aucune ligne disponible pour le moment.</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="text-danger">Total : {{total_dette}} </h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-primary" style="height: 67vh; overflow: hidden;">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title mb-0">Payements clients</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0" style="height: calc(100% - 50px); overflow-y: auto;">
            <div >
              <table class="table table-bordered table-hover table-striped table-sm mb-0">
                <thead>
                  <tr>
                    <th style="width: 10px" class="text-center">#</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Montant</th>
                    <th style="width: 40px" class="text-center">#</th>
                  </tr>
                </thead>
                <tbody id="livraison-produits">
                  <!-- tes lignes dynamiques ici -->
                   {% if dettes %}
                    {% for liste in payements %}
                      <tr>
                        <td class="text-center">{{liste.id}}</td>
                        <td>{{liste.date}}</td>
                        <td>{{liste.montant}}</td>
                        <td class="text-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              <i class="fas fa-cogs"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'commerce_modVersementClient' liste.id %}" title="Modifier">
                                <i class="fas fa-edit text-warning"></i> Modifier
                              </a>
                              <a class="dropdown-item" href="{% url 'commerce_supVersementClient' liste.id %}"
                                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet element ?');" title="Annuler">
                                <i class="fas fa-times-circle text-danger"></i> Supprimer
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="14" class="text-center">Aucune ligne disponible pour le moment.</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          
          <!-- /.card-body -->
        </div>
        <div class="row">
          <h3 class="text-success">Total : {{total_payement}} </h3>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 

  {% endblock %}


  {% block js %}

    <!-- jQuery -->
    <script src="{% static 'autre/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'autre/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- bs-custom-file-input -->
    <script src="{% static 'autre/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'autre/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/adminlte.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'autre/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/demo.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    bsCustomFileInput.init();
    });

  $(function() {
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultInfo').click(function() {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultError').click(function() {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function() {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultSuccess').click(function() {
      toastr.success('{{ message }}.')
    });
    $('.toastrDefaultInfo').click(function() {
      toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultError').click(function() {
      toastr.error('{{ message }}.')
    });
    $('.toastrDefaultWarning').click(function() {
      toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.toastsDefaultDefault').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultTopLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'topLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomRight').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomRight',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultAutohide').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        autohide: true,
        delay: 750,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultNotFixed').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        fixed: false,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultFull').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        icon: 'fas fa-envelope fa-lg',
      })
    });
    $('.toastsDefaultFullImage').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        image: '../../dist/img/user3-128x128.jpg',
        imageAlt: 'User Picture',
      })
    });
    $('.toastsDefaultSuccess').click(function() {
      $(document).Toasts('create', {
        class: 'bg-success', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultInfo').click(function() {
      $(document).Toasts('create', {
        class: 'bg-info', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultWarning').click(function() {
      $(document).Toasts('create', {
        class: 'bg-warning', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultDanger').click(function() {
      $(document).Toasts('create', {
        class: 'bg-danger', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultMaroon').click(function() {
      $(document).Toasts('create', {
        class: 'bg-maroon', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
  });

</script>


  {% endblock %}