{% extends "CommercialSoft/starter-page.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'autre/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'autre/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
{% endblock %}

{% block corp %}
<section class="content pt-0">
  <div class="container-fluid">
    
            <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Vente par type de vente</h3>
                  </div>
                  <form role="form" action="{% url 'commerce_produitVendu' %}" id="form-depense" method="post">
                    {% if messages %}
                      <div>
                      {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success text-center">
                                {{ message }}
                            </div>
                            {% elif message.tags == "error" %}
                            <div class="alert alert-danger text-center">
                                {{ message }}
                            </div>
                            {% elif message.tags == "warning" %}
                            <div class="alert alert-warning text-center">
                                {{ message }}
                            </div>
                        {% endif %}
                      {% endfor %}
                      </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="row justify-content-center align-items-end">
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="utilisateur">Type de vente</label>
                                <select class="form-control select2bs4" id="type" style="width: 100%;">
                                  <option value="0">--------</option>
                                  <option value="detail">Detail</option>
                                  <option value="en gros">En gros</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="dateDebut">Date debut</label>
                            <input type="date" class="form-control" id="dateDebut"> 
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="quantite">Date Fin</label>
                            <input type="date" class="form-control" id="dateFin"> 
                          </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="idrechercher">Recherche</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

    <div class="row text-center">
      <h4 class="text-danger" id="montantDepense">Total : </h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Liste des ventes</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-sm" style="table-layout: auto;">
                      <thead>                   
                        <tr>
                          <th style="width: 10px;" class="text-center">N°</th>
                          <th class="text-center">Montant</th>
                          <th class="text-center">Remise</th>
                          <th class="text-center">Net</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">Type</th>
                          <th class="text-center">Payement</th>
                          <th class="text-center">Client</th>
                          <th class="text-center">Montant Achat</th>
                          <th style="width: 40px;" class="text-center">#</th>
                        </tr>
                      </thead>
                      <tbody id="liste-vente">
                        <!-- Les données du tableau seront ajoutées ici dynamiquement -->
                      </tbody>
                    </table>
                  </div>
                  
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 justify-content-center">
                <li class="page-item">
                  {% if listes.has_previous %}
                    <a class="page-link" href="?page={{ listes.previous_page_number }}">«</a>
                  {% endif %}
                  {% for num in listes.paginator.page_range %}
                    {% if listes.number == num %}
                      <li class="page-item"><a class="page-link" href="">{{ num }}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
    
                  {% if listes.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ listes.next_page_number }}">»</a></li>
                  {% endif %}
                
              </ul>
            </div>
          </div>
      </div>

      <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Liste des produit</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered table-hover table-striped table-sm">
                <thead>                  
                  <tr>
                    <th style="width: 10px" class="text-center">N°</th>
                    <th class="text-center">Libelle</th>
                    <th class="text-center">Quantite</th>
                    <th style="width: 40px" class="text-center">#</th>
                  </tr>
                </thead>
                <tbody id="liste-produit">

                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 justify-content-center">
                <li class="page-item">
                  {% if listes.has_previous %}
                    <a class="page-link" href="?page={{ listes.previous_page_number }}">«</a>
                  {% endif %}
                  {% for num in listes.paginator.page_range %}
                    {% if listes.number == num %}
                      <li class="page-item"><a class="page-link" href="">{{ num }}</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
    
                  {% if listes.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ listes.next_page_number }}">»</a></li>
                  {% endif %}
                
              </ul>
            </div>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 

  {% endblock %}


  {% block js %}

    <!-- jQuery -->
    <script src="{% static 'autre/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'autre/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- bs-custom-file-input -->
    <script src="{% static 'autre/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'autre/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'autre/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/adminlte.min.js' %}"></script>
    <script src="{% static 'autre/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'autre/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'autre/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'autre/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Bootstrap Switch -->
    <script src="{% static 'autre/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'autre/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'autre/dist/js/demo.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    bsCustomFileInput.init();
    });


    $(document).ready(function () {
        bsCustomFileInput.init();

        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
        theme: 'bootstrap4'
        })

    });


    document.addEventListener("DOMContentLoaded", function () {
        const dateDebut = document.getElementById("dateDebut");
        const dateFin = document.getElementById("dateFin");
        if (dateDebut && !dateDebut.value) {
            let today = new Date().toISOString().slice(0, 10); // yyyy-mm-dd
            dateDebut.value = today;
        }
        if (dateFin && !dateFin.value) {
            let today = new Date().toISOString().slice(0, 10); // yyyy-mm-dd
            dateFin.value = today;
        }
    });
        


    
    $(document).ready(function () {
    $('#idrechercher').on('click', function (e) {
      e.preventDefault();

      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

      const type = $('#type').val();  // ID de l'examen sélectionné
      const dateDebut = $('#dateDebut').val();  // ID de la consultation
      const dateFin = $('#dateFin').val();  // ID de la consultation

      var montantDepense=0;
      $('#montantDepense').html("Total : "+ montantDepense.toLocaleString());

      $.ajax({
        url: "{% url 'rechercheVenteType' %}",
        type: "POST",
        data: {
            type: type,
            dateDebut: dateDebut,
            dateFin: dateFin,
            csrfmiddlewaretoken: csrfToken
        },
        success: function (response) {
          const patientsTable = $('#liste-vente');
          patientsTable.empty();
          if (response.vente && response.vente.length > 0) {
            response.vente.forEach(data => {
              const supUrl = "{% url 'commerce_venteDelete' 0 %}".replace("0", data.id);
              const recuUrl = "{% url 'commerce_recu' 0 %}".replace("0", data.id);
              const modUrl = "{% url 'commerce_modVente' 0 %}".replace("0", data.id);
              patientsTable.append(`
                <tr class="vente_row" data-id="${data.id}">
                  <td class="text-center">${data.id}</td>
                  <td>${data.montant}</td>
                  <td class="text-center">${data.remise}</td>
                  <td class="text-center">${data.net}</td>
                  <td class="text-center">${data.date}</td>
                  <td class="text-center">${data.type}</td>
                  <td class="text-center">${data.payement}</td>
                  <td class="text-center">${data.client}</td>
                  <td class="text-center">${data.montantAchat}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-cogs"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="${recuUrl} " title="imprimer">
                          <i class="fas fa-print text-warning"></i> imprimer
                        </a>
                        <a class="dropdown-item" href="${supUrl}"
                          onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet element ?');" title="Annuler">
                          <i class="fas fa-times-circle text-danger"></i> Supprimer
                        </a>
                        <a class="dropdown-item" href="${modUrl}" title="Modifier">
                          <i class="fas fa-edit text-info"></i> Modifier
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              `);
              montantDepense +=data.montant-data.remise;
            });
            $('#montantDepense').html("Total : "+ montantDepense.toLocaleString());
          } else {
            patientsTable.append('<tr><td colspan="14" class="text-center">Aucune ligne trouvée.</td></tr>');
          }
        },
        error: function (xhr, status, error) {
          alert('Une erreur est survenue. Veuillez réessayer. '+error);
        }
      });
    });
  });



  


  $(document).ready(function () {
    $('#idImprimer').on('click', function (e) {
        e.preventDefault();

        const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
        const categorieId = $('#categorie').val();
        const produitId = $('#produit').val();

        // Ouvrir une nouvelle fenêtre où le PDF sera affiché
        let pdfWindow = window.open("", "_blank");

        $.ajax({
            url: "{% url 'pdfProduitDisponible' %}",
            type: "POST",
            data: {
                idCategorie: categorieId,
                produitId: produitId,
                csrfmiddlewaretoken: csrfToken
            },
            xhrFields: {
                responseType: 'blob'  // Important pour récupérer un fichier binaire (PDF)
            },
            success: function (response) {
                let blob = new Blob([response], { type: "application/pdf" });
                let url = URL.createObjectURL(blob);
                pdfWindow.location.href = url;  // Charger le PDF dans la nouvelle fenêtre
            },
            error: function () {
                alert('Une erreur est survenue. Veuillez réessayer.');
            }
        });
    });
});








$(document).ready(function() {
    $('#liste-vente').on('click', '.vente_row', function() {
        var venteId = $(this).data('id');  // Récupérer l'ID de la vente
        $.ajax({
            url: "{% url 'produitParVente' %}",  // URL Django pour récupérer les produits
            type: 'GET',
            data: {
                'vente_id': venteId  // Envoyer l'ID de la vente
            },
            success: function(response) {
                var patientsTable = $('#liste-produit');
                patientsTable.empty();  // Vider le tableau des produits
                
                if (response.listes && response.listes.length > 0) {
                    response.listes.forEach(data => {
                    patientsTable.append(`
                        <tr class="produit_row" id="produit-${data.id}" data-id="${data.id}">
                            <td class="text-center">${data.id}</td>
                            <td>${data.produit}</td>
                            <td class="text-center">${data.quantite}</td>
                            <td>
                                <button class="btn btn-danger prod"  data-id="${data.id}">sup</button>
                            </td>
                        </tr>
                    `);
                    });
                } else {
                    patientsTable.append('<tr><td colspan="14" class="text-center">Aucun ligne trouvée.</td></tr>');
                }
            }
        });
    });
});






$(document).ready(function() {
    $('#liste-produit').on('click', '.prod', function() {
        var myid = $(this).data("id");  // Récupérer l'ID du produit à supprimer
        var deleteUrl = "{% url 'commerce_commandePDelete' %}";

        if (confirm("Êtes-vous sûr de vouloir supprimer ce produit ?")) {
            $.ajax({
                url: deleteUrl,
                type: 'POST',  // Utilisation de POST au lieu de GET
                data: {
                    id:myid,
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()  // Protection CSRF
                },
                success: function(response) {
                    if (response.success) {
                        $("#produit-" + myid).fadeOut(300, function() { $(this).remove(); });  // Supprimer l'élément du DOM
                        alert("Suppression réussie !");
                    } else {
                        alert(response.message);
                    }
                },
                error: function(xhr) {
                    alert("Une erreur s'est produite !");
                }
            });
        }
    });
});










  $(function() {
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultInfo').click(function() {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultError').click(function() {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function() {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultSuccess').click(function() {
      toastr.success('Enregistrement reussi')
    });
    $('.toastrDefaultInfo').click(function() {
      toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultError').click(function() {
      toastr.error('{{ message }}.')
    });
    $('.toastrDefaultWarning').click(function() {
      toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.toastsDefaultDefault').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultTopLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'topLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomRight').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomRight',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultBottomLeft').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultAutohide').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        autohide: true,
        delay: 750,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultNotFixed').click(function() {
      $(document).Toasts('create', {
        title: 'Toast Title',
        fixed: false,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultFull').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        icon: 'fas fa-envelope fa-lg',
      })
    });
    $('.toastsDefaultFullImage').click(function() {
      $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        image: '../../dist/img/user3-128x128.jpg',
        imageAlt: 'User Picture',
      })
    });
    $('.toastsDefaultSuccess').click(function() {
      $(document).Toasts('create', {
        class: 'bg-success', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultInfo').click(function() {
      $(document).Toasts('create', {
        class: 'bg-info', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultWarning').click(function() {
      $(document).Toasts('create', {
        class: 'bg-warning', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultDanger').click(function() {
      $(document).Toasts('create', {
        class: 'bg-danger', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.toastsDefaultMaroon').click(function() {
      $(document).Toasts('create', {
        class: 'bg-maroon', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
  });

</script>


  {% endblock %}