{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>commercial Soft</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'clinique/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'clinique/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"></script>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'clinique/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'clinique/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'clinique/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'clinique/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'clinique/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'clinique/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'autre/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'autre/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'autre/plugins/toastr/toastr.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="{% static 'autre/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'autre/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'clinique/assets/css/main.css' %}" rel="stylesheet">

  

  <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page vh-100">
  
  {% csrf_token %}
    <header id="header" class="header sticky-top">
      
      <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi  d-flex align-items-center"><a href="{% url 'commerce_dashboard' %}">Acueil2</a></i>
            
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="text-white">{{user.first_name}} {{user.last_name}}</a>
            <input type="hidden" id="user_id" value="{{user.id}}">
          </div>
        </div>
      </div><!-- End Top Bar -->

      <div class="branding d-flex align-items-center">
        <div class="col-md-2 col-lg-2 d-none d-sm-block">
          <div class="form-group">
            {{ commande_form.date }}
          </div>
        </div>

        <div class="container position-relative d-flex align-items-center justify-content-end">
          

          <nav id="navmenu" class="navmenu">
            <i class="mobile-nav-toggle"></i>
          </nav>

          <a href="#" class="col-sm-10 ms-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename" >
              <div class="form-group">
                {{ commande_form.montant }}
                <input type="text" readonly="true" class="form-control fw-bold  text-center fs-3" id="montantTotal">
              </div>
            </h1>
          </a>
          <div class="col-md-2 col-lg-2 col-sm-2 ms-auto">
            <div class="form-group">
              <input type="number" class="form-control fw-bold text-center fs-3" id="remise" placeholder="0" min="0">
            </div>
          </div>


        </div>

      </div>

    </header>

    <main class="main">

      <section class="content pt-0">
        <div class="container-fluid h-100 d-flex flex-column">
          <div class="row">
            {% if messages %}
                <div>
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="bg-{{ message.tags }} text-center h-15" id="messageErreur">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="bg-danger text-center h-15" id="messageErreur">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if commande_form.errors %}
                <div class="bg-danger">{{ commande_form.errors }}</div>
            {% endif %}
        </div>
        
          <div class="row">
            <div class="col-md-5">
              <div class="card card-primary" style="height: 67vh; overflow: hidden;">
                <div class="card-header">
                  <h3 class="card-title">Nouvelle vente</h3>
                </div>
                  <div style="height: calc(67vh - 56px); overflow-y: auto;">
                    <div class="card-body">
                    
                      <div class="row" id="formset-container">
                          <div class="formset-item">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Produit</label>
                                  <select class="form-control select2bs4" id="produitSelect" style="width: 100%;">
                                    <option value="0">--------</option>
                                    
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Quantité</label>
                                  <input type="number" class="form-control" id="quantite" value="1" min="0"> 
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Prix unitaire</label>
                                  <input type="number" class="form-control" id="prixDetail" value="1" min="0"> 
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Stock</label>
                            <input type="number" disabled="true" class="form-control" id="stock">
                          </div>
                        </div>
                        
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Type vente</label>
                            <select class="form-control select2bs4" id="typeVente" style="width: 100%;">
                              <option value="detail">Détail</option>
                              <option value="en gros">En gros</option>
                            </select>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-footer clearfix text-center">
                    <button onclick="ajouterAuPanier()"  class="btn btn-primary" id="ajoutBouton">Ajouter</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card card-primary" style="height: 67vh; overflow: hidden;">
                <div class="card-header d-flex justify-content-between">
                  <h3 class="card-title mb-0">Liste des produits</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0" style="height: calc(100% - 50px); overflow-y: auto;">
                  <div >
                    <table class="table table-bordered table-hover table-striped table-sm mb-0" id="tablePanier">
                      <thead>
                        <tr>
                          <th style="width: 10px" class="text-center">#</th>
                          <th class="text-center">Libelle produits</th>
                          <th class="text-center">Quantité</th>
                          <th class="text-center">P unitaire</th>
                          <th class="text-center">Montant</th>
                          <th style="width: 40px" class="text-center">#</th>
                        </tr>
                      </thead>
                      <tbody id="livraison-produits">
                        <!-- tes lignes dynamiques ici -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-2">
              <div class="form-group d-flex align-items-center">
                <label class="mb-0" style="width: 50%;">Payement</label> <!-- Ajuste le width si nécessaire -->
                <div style="flex-grow: 1;"> <!-- Cette div prendra l'espace restant -->
                  {{ commande_form.typePayement }}
                </div>
              </div>
            </div>
            <div class="col-md-3" id="lgClient">
              <div class="form-group d-flex align-items-center">
                <label class="mb-0 col-md-3" >Client</label> <!-- Ajuste le width si nécessaire -->
                <div class="col-md-9" style="flex-grow: 1;"> <!-- Cette div prendra l'espace restant -->
                  <select class="form-control select2bs4" id="id_client">
                    <option value="0">--------</option>
                    
                    </select>
                </div>
              </div>
            </div>
            <div class="col-md-3" id="lgEcheance">
              <div class="form-group d-flex align-items-center">
                <label class="mb-0 col-md-5" >Echeance</label> <!-- Ajuste le width si nécessaire -->
                <div style="flex-grow: 1;" class="col-md-7"> <!-- Cette div prendra l'espace restant -->
                  {{ pret_form.dateEcheance }}
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center" id="">
              <div class="form-group ml-auto">
                <button type="button" id="btnExportPDF" class="btn btn-info">Facture</button>
                <button type="button" class="btn bg-fuchsia btn-md border" id="btnRetour">Retour</button>
                <button onclick="validerVente()" class="btn btn-primary btn-md border">valider la vente</button>
              </div>
            </div>
          </div>
            
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      
    <input type="hidden" name="jsonDataInput" id="jsonDataInput">
    </main>

  
  <form id="formExportPDF" method="post" action="{% url 'pdf_facture_proforma' %}" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="data" id="jsonDataInputPdf">
  </form>

  <footer id="footer" class="footer light-background">


    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright 2025</span> <strong class="px-1 sitename">Laguisoft Technologie</strong> <span>Tous droit reservé</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'clinique/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'clinique/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'clinique/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'clinique/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'clinique/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'clinique/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'clinique/assets/js/main.js' %}"></script>
  <script src="{% static 'autre/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'autre/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- bs-custom-file-input -->
  <script src="{% static 'autre/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'autre/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
  <script src="{% static 'autre/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
  <script src="{% static 'autre/dist/js/adminlte.min.js' %}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{% static 'autre/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'autre/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
  <script src="{% static 'autre/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <!-- Bootstrap Switch -->
  <script src="{% static 'autre/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
  <script src="{% static 'autre/plugins/select2/js/select2.full.min.js' %}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{% static 'autre/plugins/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'autre/dist/js/demo.js' %}"></script>

  <script src="{% static 'js/localforage.min.js' %}"></script>
  <script src="{% static 'js/offline-core.js' %}"></script>
  <script src="{% static 'js/vente.js' %}"></script>



<script>
  localforage.config({ name: "venteApp" });

  let panier = [];
  // Charger produits depuis l'API Django
  async function chargerProduits() {
    try {
        const response = await fetch("/commerce/api/produits/");
        const data = await response.json();

        // on sépare les deux
        const produits = data.produits;
        const clients = data.clients;

        // on stocke dans localforage
        await localforage.setItem("produits", produits);
        await localforage.setItem("clients", clients);

        // remplir le select avec les produits
        remplirSelectProduits(produits);
        remplirSelectClients(clients);

        console.log("✅ Produits et clients chargés depuis le serveur et stockés localement.");
    } catch (err) {
        let produits = await localforage.getItem("produits");
        let clients = await localforage.getItem("clients");

        if (produits && clients) {
            remplirSelectProduits(produits);
            remplirSelectClients(clients);
        console.warn("⚠️ Hors ligne. Produits et clients chargés depuis le stockage local.");
        } else {
            console.error("❌ Impossible de charger les données : ni serveur ni stockage local.", err);
        }
    }
    }


  function remplirSelectProduits(produits) {
      let select = document.getElementById("produitSelect");
      select.innerHTML = "";
      produits.forEach(p => {
          let option = document.createElement("option");
          option.value = p.id;
          option.textContent = `${p.libelle}`;
          option.dataset.prixDetail = p.prixDetail;
          option.dataset.prixEnGros = p.prixEnGros;
          select.appendChild(option);
      });
  }



    function remplirSelectClients(clients) {
        let select = document.getElementById("id_client");
        select.innerHTML = '<option value="">---------</option>';
        clients.forEach(c => {
            let option = document.createElement("option");
            option.value = c.id;
            option.textContent = `${c.nom} - ${c.telephone}`;
            select.appendChild(option);
        });
    }



    // Met à jour le prix et le stock quand un produit est sélectionné
    $(document).ready(function () {
      $('#produitSelect').on('change', async function () {
        let produitId = this.value;
        let produits = await localforage.getItem("produits");
        let produit = produits.find(p => p.id == produitId);
        if (produit) {
            let typeVente = document.getElementById("typeVente").value;
            let prix = (typeVente === "en gros") ? produit.prixEnGros : produit.prixDetail;

            document.getElementById("prixDetail").value = prix;
            document.getElementById("stock").value = produit.quantite;
        } else {
            document.getElementById("prixDetail").value = "";
            document.getElementById("stock").value = "";
        }
      });
    });



    // Met à jour les prix dans le panier quand le type de vente change
    $(document).ready(function () {
      $('#typeVente').on('change', async function () {
        let typeVente = this.value;
        let produits = await localforage.getItem("produits");
        if (!produits) return;
        // 1. Recalculer les prix de tous les produits dans le panier
        panier.forEach(item => {
            let produit = produits.find(p => p.id === parseInt(item.produit_id));
            if (produit) {
              item.prix = (typeVente === "en gros") ? produit.prixEnGros : produit.prixDetail;
            }
        });
        // 2. Mettre à jour le champ prixDetail si un produit est sélectionné
        let produitSelect = document.getElementById("produitSelect");
        let produitId = parseInt(produitSelect.value);

        if (produitId) {
            let produit = produits.find(p => p.id === produitId);
            if (produit) {
                let nouveauPrix = (typeVente === "en gros") ? produit.prixEnGros : produit.prixDetail;
                document.getElementById("prixDetail").value = nouveauPrix.toLocaleString("fr-FR");
            }
        }
        // 3. Rafraîchir panier et total
        afficherPanier();
        mettreAJourTotal();
      });
    });





  function ajouterAuPanier() {
      let select = document.getElementById("produitSelect");
      let produitId = select.value;
      if (!produitId) return; // sécurité si aucun produit choisi

      let produitNom = select.options[select.selectedIndex].text;
      let prix = parseFloat(document.getElementById("prixDetail").value);
      let quantite = parseInt(document.getElementById("quantite").value);

      // Chercher si le produit est déjà dans le panier
      let produitExistant = panier.find(item => item.produit_id === produitId);

      if (produitExistant) {
          // Mettre à jour la quantité et le total
          produitExistant.quantite += quantite;
          produitExistant.total = produitExistant.quantite * produitExistant.prix;
          afficherPanier();
          document.getElementById("quantite").value = 1; // reset quantité
          document.getElementById("prixDetail").value="";
          document.getElementById("stock").value=0
          return;
      } else{
         if (!produitId || !quantite || !prixDetail || quantite <= 0 || prix <= 0 || !produitNom || prix==NaN) {
            toastr.error("Veuillez remplir tous les champs !");
            return;
         }
        let ligne = { produit_id: parseInt(produitId,0), nom: produitNom, quantite, prix, total: quantite * prix };
        panier.push(ligne);
        afficherPanier();
          document.getElementById("quantite").value = 1; // reset quantité
          document.getElementById("prixDetail").value="";
          document.getElementById("stock").value=0
          document.getElementById("produitSelect").value=0
      }
  }



  function afficherPanier() {
    let tbody = document.getElementById("livraison-produits"); // ⚠️ utiliser ton vrai <tbody>
    tbody.innerHTML = "";
    let num = 1;

    panier.forEach((item, index) => {
        let tr = document.createElement("tr");
        tr.innerHTML = `
            <td class="text-center">${num}</td>
            <td>${item.nom}</td>
            <td class="text-center">${item.quantite}</td>
            <td class="text-center">${item.prix.toLocaleString("fr-FR")}</td>
            <td class="text-center">${(item.quantite * item.prix).toLocaleString("fr-FR")}</td>
            <td class="text-center">
                <button class="btn btn-sm btn-danger" onclick="supprimerDuPanier(${index})">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        `;
        tbody.appendChild(tr);
        num += 1;
    });
    mettreAJourTotal();
  }




  function supprimerDuPanier(index) {
      panier.splice(index, 1);
      afficherPanier();
      mettreAJourTotal();
  }



  function mettreAJourTotal() {
      let total = panier.reduce((acc, item) => acc + (item.quantite * item.prix), 0);
      let remise = parseFloat(document.getElementById("remise").value) || 0;
      let totalFinal = Math.max(total - remise, 0);
      document.getElementById("montantTotal").value = totalFinal.toLocaleString("fr-FR");

  }



  // Vérifie que les touches sont numériques pour la remise
    $('#remise').on('keypress', function (e) {
        if (!/[0-9]/.test(e.key)) e.preventDefault();
    });

    // Calcul du montant après remise
    $('#remise').on('input', function () {
        mettreAJourTotal();
    });





    
    // Afficher/Masquer champs Pret
    const typePayement = document.getElementById('typePayement');
    const lgClient = document.getElementById('lgClient');
    const lgEcheance = document.getElementById('lgEcheance');

    function togglePret() {
        if (typePayement.value === 'Pret') {
            lgClient.style.display = 'flex';
            lgEcheance.style.display = 'flex';
        } else {
            lgClient.style.display = 'none';
            lgEcheance.style.display = 'none';
        }
    }
    typePayement.addEventListener('change', togglePret);
    togglePret();




    



  async function validerVente() {
      let ventes = await localforage.getItem("ventes") || [];
      
      let typeVente=document.getElementById("typeVente").value;
      let remise = parseFloat(document.getElementById("remise").value) || 0;
      let client=parseFloat(document.getElementById("id_client").value);
      let typePayement=document.getElementById("typePayement").value;
      let user=parseInt(document.getElementById("user_id").value);
      let montant =document.getElementById("montantTotal").value.replace(/\s/g, '');
      montant = parseInt(montant, 10) || 0;
      if (panier.length === 0) {
          alert("Le panier est vide !");
          return;
      }

      ventes.push({
          lignes: panier,
          date: document.getElementById("idCommande").value,
          remise: remise,
          montant: montant,
          typeVente:typeVente,
          typePayement: typePayement,
          user:user
      });
      await localforage.setItem("ventes", ventes);

      panier = [];
      afficherPanier();
      alert("✅ Vente enregistrée localement !");
  }




  async function syncVentes() {
      let ventes = await localforage.getItem("ventes");
      console.log("📤 Données envoyées au serveur :", JSON.stringify(ventes, null, 2));

      if (ventes && ventes.length > 0) {
          try {
              let response = await fetch("/commerce/api/sync/ventes/", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({ ventes })
              });
              let result = await response.json();
              if (result.success) {
                  await localforage.removeItem("ventes");
                  console.log("✅ Ventes synchronisées avec succès !");
              }
          } catch (err) {
              console.error("❌ Erreur de synchro:", err);
          }
      }
  }

  // Vérifier la connexion toutes les 10s
  setInterval(syncVentes, 10000);

  // Charger les produits au démarrage
  window.onload = chargerProduits;
</script>





<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });

  $(document).ready(function () {
      bsCustomFileInput.init();
        
      //Initialize Select2 Elements
      $('.select2').select2()

      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
    })


    $(function() {
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
        Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.swalDefaultInfo').click(function() {
        Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.swalDefaultError').click(function() {
        Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.swalDefaultWarning').click(function() {
        Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.swalDefaultQuestion').click(function() {
        Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });

    $('.toastrDefaultSuccess').click(function() {
        toastr.success('Enregistrement reussi.')
    });
    $('.toastrDefaultInfo').click(function() {
        toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });
    $('.toastrDefaultError').click(function() {
        toastr.error('Operation non effectuée.')
    });
    $('.toastrDefaultWarning').click(function() {
        toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.toastsDefaultDefault').click(function() {
        $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultTopLeft').click(function() {
        $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'topLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultBottomRight').click(function() {
        $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomRight',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultBottomLeft').click(function() {
        $(document).Toasts('create', {
        title: 'Toast Title',
        position: 'bottomLeft',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultAutohide').click(function() {
        $(document).Toasts('create', {
        title: 'Toast Title',
        autohide: true,
        delay: 750,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultNotFixed').click(function() {
        $(document).Toasts('create', {
        title: 'Toast Title',
        fixed: false,
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultFull').click(function() {
        $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        icon: 'fas fa-envelope fa-lg',
        })
    });
    $('.toastsDefaultFullImage').click(function() {
        $(document).Toasts('create', {
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        image: '../../dist/img/user3-128x128.jpg',
        imageAlt: 'User Picture',
        })
    });
    $('.toastsDefaultSuccess').click(function() {
        $(document).Toasts('create', {
        class: 'bg-success', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultInfo').click(function() {
        $(document).Toasts('create', {
        class: 'bg-info', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultWarning').click(function() {
        $(document).Toasts('create', {
        class: 'bg-warning', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultDanger').click(function() {
        $(document).Toasts('create', {
        class: 'bg-danger', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    $('.toastsDefaultMaroon').click(function() {
        $(document).Toasts('create', {
        class: 'bg-maroon', 
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        })
    });
    });

</script>


<script type="text/javascript">
  $(function(){
    {% if recu_url %}
      if (confirm("Voulez-vous imprimer la facture ?")) {
        window.open("{% url 'commerce_recu' pk=venteId %}", "_blank");
      }
    {% endif %}
  });
</script>



</body>

</html>